body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 40px;
}

.container {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}
